.example-card {
  /* margin-top: 50px; */
  max-width:50%;
  margin-right: 100px ;
  /* border: 1px solid red; */
  background-color: white;
  /* margin-bottom: 50px; */
  /* float: left; */
}
/* .container2{
  background-color: whitesmoke;
  max-width:max-content;
  margin-top: 10%;
} */
.container{
  /* background-color: white; */
  /* max-width:max-content; */
  margin-top: 10%;
  /* border: 1px solid green; */
}
