table {
  width: 100%;

}
.container{
  background-color: white;
  max-width:50%;
  margin-top: 10%;
}

.mat-column-id {
  flex: none;
    width: 100px;
}
.mat-column-name {
  flex: none;
    width: 100px;
}

.mat-column-age {
  flex: none;
    width: 100px;
}
.mat-column-gender {
  flex: none;
    width: 100px;
}
.mat-column-action {
  flex: none;
    /* width: 100px; */
}
